{% extends 'base.html'%}
{% block content %}

<div class="mt-5 p-3 shadow rounded">
    <div class="p-1 rounded text-center">
        <img src="https://static.vecteezy.com/system/resources/previews/015/815/200/original/kindness-icon-design-free-vector.jpg">
        <h6 class="text-center primary-color">Login to feel better</h6>
    </div>

    <hr>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label primary-color">Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label class="form-label primary-color">Password</label>
            {{ form.password }}
        </div>
        <hr>
        <button type="submit" class="btn custom-btn w-100">Submit</button>

        <p class="text-center mt-3"> You don't have an account ? <a class="primary-color" href="{% url 'register' %}"> register</a></p>

        {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3">
            {% for error in form.non_field_errors %}
            <span class="d-block text-center">{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}

    </form>
</div>


{% endblock content %}