{% extends 'base.html' %}

{% block content %}
<div class="border border-dark-subtle border-5 p-3 mt-5">
    <form method="post">
        {% csrf_token %}
        <h4 class="text-center">Register to discover more</h4>
        <hr>
        <div class="mb-3">
            <label class="form-label">Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">

            <label class="form-label">Email</label>
            {{ form.email }}

        </div>
        <div class="mb-3 ">

            <label class="form-label">Password</label>
            {{ form.password1 }}

        </div>
        <div class="mb-3">

            <label class="form-label">Confirm Password</label>
            {{ form.password2 }}

        </div>

        <hr>
        <button type="submit" class="btn btn-outline-primary d-block w-100">Register</button>
    </form>
</div>

<p class="text-center mt-2">You already have an account? <a href="{% url 'login' %}">Login Now</a></p>
{% endblock content %}