{% extends 'base.html'%}

{% block content %}
{% load static %}

<div class="mt-3 rounded mb-5 w-50 d-grid shadow">
    <button class="btn custom-btn m-3" data-bs-toggle="modal" data-bs-target="#publicationModal">
        Hi {{ user.username}}! Would you like to leave a comforting word ?
    </button>
</div>
<div class="container w-50 text-start">
    <h3 class="card-title secondary-color mt-3 mb-3">Recent publications</h3>
</div>
{% include 'publicationModal.html'%}


{% for publication in all_publications %}
{% include 'publicationCard.html' with publication=publication %}
{% endfor %}

{% endblock content %}

