.main-container {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    height: 100%;
    background-color: gainsboro;
    overflow-y: auto;
}
.letter-container {
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/419/834/desktop-wallpaper-plain-white-white-background.jpg");
    padding: 20px;
    height: 60vh;
    min-height: 400px;
}
.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.blur {
    filter: blur(5px); /* Applique un flou de 5 pixels */
    pointer-events: none; /* Empêche l'interaction avec le contenu */
    user-select: none; /* Désactive la sélection du texte */
}

.letter {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}


.errors {
    color: red;
    font-size: 0.9rem;
    list-style-type: none;
    padding-left: 0;
}
.errors li {
    margin-bottom: 5px;
}
