.primary-color {
    color: #A888B5;
}

.secondary-color {
    color: #441752;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.shadow-welcome{
    box-shadow: 20px 20px 20px rgba(0.5, 0.5, 0.5, 0.5);
}
.main-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}
.welcome-left-container{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/419/834/desktop-wallpaper-plain-white-white-background.jpg");
    background-size: cover;
    background-position: center;
}
.welcome-right-container {
    background-image: url("https://img.freepik.com/premium-photo/soft-color-background_882595-4068.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    font-size: 0.75rem;
}

img {
    height: 50px;
    width: 50px;
}

.welcome-img {
    height: 200px;
    width: 200px;
}

.custom-btn {
    background-color: #A888B5;
    color: white;
}

.btn.custom-btn:hover {
    background-color: #441752;
    color: white;
    box-shadow: 0 0 10px rgba(168, 136, 181, 0.5);
}

.btn.custom-btn-card {
    font-size: small;
    background-color: transparent;
    color: #495057;
    box-shadow: 0 0 10px rgba(168, 136, 181, 0.5);
}

.btn.custom-btn-card:hover {
    font-size: medium;
    background-color: transparent;
    color: #441752;
    box-shadow: 0 0 10px rgba(168, 136, 181, 0.5);
}

.btn.custom-btn-card.active {
    font-size: medium;
    background-color: transparent;
    color: #441752;
    box-shadow: 0 0 10px rgba(168, 136, 181, 0.5);
}
