<div class="modal fade" id="publicationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="p-1 rounded text-center">
                <img src="https://static.vecteezy.com/system/resources/previews/015/815/200/original/kindness-icon-design-free-vector.jpg">
                <h6 class="text-center primary-color">Your message</h6>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-2">
                        <label for="title" class="form-label primary-color">Title</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="mb-2">
                        <label for="message" class="form-label primary-color">Message</label>
                        <textarea class="form-control" rows="5" id="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn custom-btn" onclick="publish()">Send</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    let publicationID = null;
    document.addEventListener('DOMContentLoaded', function () {
        var publicationModal = document.getElementById('publicationModal');

        publicationModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Button that triggered the modal
            var title = button.getAttribute('data-title'); // Get title from button
            var message = button.getAttribute('data-message'); // Get message from button
            var id = button.getAttribute('data-id'); // Get id from button

            // Update modal fields
            publicationModal.querySelector('#title').value = title;
            publicationModal.querySelector('#message').value = message;
            publicationID = id;
        });
    });

    function publish() {
        const title = document.getElementById('title').value;
        const body = document.getElementById('message').value;

        const url = publicationID ? `/edit/${publicationID}/` : '/create/';
        console.log(title, body);

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({title: title, body: body})
        })
            .then(response => response.json())
            .then(() => {
                location.reload(); // Reload the page to see the new publication
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
</script>